.row {
	margin-top: 2em; 
}

.city-card {
	display: flex;
}

.warsaw-card {
   background-image: url("./images/warsaw.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
}

.new-york-card {
   background-image: url("./images/new-york.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
}

.paris-card {
   background-image: url("./images/paris.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
}

.next-city-card {
   background-color: red;
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
}

.city-name {
	color: #ffffff;
	margin: auto;
}

.next-city-content {
	margin: auto;	
}

.button-apply {
	margin: auto;
}