.what-is-photo-card {
   background-image: url("./images/wicked-photo.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
}

.what-is-text-card {
	height: 300px;
	background-color: orange;
}